* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

select {
  background: none;
  border: 1px solid grey;
  padding: 1rem;
  -ms-flex-preferred-size: 15rem;
      flex-basis: 15rem;
  margin-right: -5rem;
}

h2 {
  font-size: 2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 5rem 5%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

section header {
  -ms-flex-preferred-size: 7rem;
      flex-basis: 7rem;
}

.mute-button {
  -ms-flex-preferred-size: 3rem;
      flex-basis: 3rem;
  cursor: pointer;
  padding: 1rem .5rem;
  border: none;
  background: #707070;
}

.mute-button-active {
  background: #1d1a1a;
}

.sound-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-preferred-size: 40rem;
      flex-basis: 40rem;
}

.box {
  padding: 2rem;
  background: blue;
  margin: .5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.kick-box {
  background: #a0d3e0;
}

.snare-box {
  background: #e0a0d0;
}

.hihat-box {
  background: #e0c2a0;
}

.kick-box-active {
  background: #3bc5e7;
}

.snare-box-active {
  background: #da3ab2;
}

.hihat-box-active {
  background: #f19e40;
}

svg {
  display: block;
  margin: auto;
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

svg path {
  fill: white;
}

.play-button {
  margin: 4rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem 2rem;
  background: #707070;
  border: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.play-button-active {
  background: #1d1a1a;
}

.slider {
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tempo {
  padding: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@-webkit-keyframes boxScale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes boxScale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=style.css.map */